
*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}
header{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column: 2/3;
}
.sidebar{
    grid-row: 1/3;
    background-color: #1992d4;
    color: #fff;
    display: grid;
    grid-template-rows: 1fr 9fr;
    gap: 5px;
    align-items: start;
}
.sidebar > *{
    margin: 20px;
}
nav{
    display: grid;
    grid-template-rows: 3fr 1fr;
    gap: 15px;
}
nav li{
    
    margin-bottom: 10px;
}
nav ul{
    padding-left: 0;
}
nav ul:first-child{
    margin-top: 30px;
}
nav>ul{
    list-style-type: none;
}
a{
    color: inherit;
    text-decoration: none;
}
.searchbar{
    background-color: #e2e8f0;
    height: 30px;
    border: none;
    border-radius: 50px;
}
.icon{
    width: 20px;
    height: 20px;
    display: inline;
}
.search-area{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    margin: 15px;
    margin-left: 30px;
    margin-top: 5px;
    gap: 15px;
    grid-template-columns: auto 1fr;
}
.user-setting-dashboard{
    display: grid;
    grid-auto-flow: column;
    margin: 15px;
    align-items: center;
    gap: 15px;
    justify-content: center;
}
.name{
    font-size: 1.3rem;
}
.user-setting-dashboard > *{
    margin: 5px;
}
.user-info{
    display: flex;
    align-items: center;
    margin-left: 25px;
    gap: 15px;
}
.user-icon{
    width: 50px;
    height: 50px;  
}
.greeting{
    font-size: 0.8rem;
}

.bold{
    font-weight: 800;
}

.buttons > *{
    background-color: #1992d4;
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    border: none;

}
.buttons{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto auto;
    grid-auto-columns: auto;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

main{
    background-color: #e1e7f0;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 5fr 2fr;
}
/* main> *{
    border: solid;
} */
.announcements, .trending{
    grid-column: 2/3;
}
.your-projects{
    grid-row: 1/3;
    margin-left: 10px;
}
.your-project-grid{
    display: grid;
    margin-top: 15px;
    margin-right: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px;
}
.card{
    height: 160px;
    background-color: #fff;
    border-radius: 7px;
}
.yellow-line{
    border-inline: solid #fcb71b 7px;
    border-inline-end: none;
}